.providers {
    height: 300px;
    background-color: #2b3137;
    color: white;
}

.mainPage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 1rem;
}

.left {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.right {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
}

.header {
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    color: var(--ifm-color-primary);
}