.letsBegin {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 95%;
  margin: 3rem 0;

}

.item {
  flex-grow: 1;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}