.mainPage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 8rem;
    gap: 1rem;
}

.left {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 150px;
}

.right {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0;
    min-width: 248px;
}

.header {
    font-size: 3.6em;
    font-weight: 400;
}

.subHeader {
    font-weight: 300;
}


.buttons {
    flex-wrap: wrap;
    display: flex;
    gap: 1rem;
}

.button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

@media screen and (max-width: 996px) {
    .header {
        font-size: 2em;
    }

    .mainPage {
        margin-top: 1rem;
    }

    .buttons {
        flex-direction: column;
        margin-right: 25%;
    }
}