.mainAbout {
  align-self: center;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 748px;
  padding-bottom: 1rem;
}


.paragraphWrapper {
  display: flex;
  max-width: 748px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  align-content: flex-start;
}

.header {
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  color: var(--ifm-color-primary);
}

.subHeader {
  font-weight: 400;
}

.image {
  padding: 3rem 0rem;
}